body{
    background-color: rgb(178, 178, 178);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .image_container{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #image {
    height: 40vh;
    width: 60vh;
    object-fit: contain;
  
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-top: -20px;
    background-color: red;
    color: white;
    z-index: -10;
    border-radius: 20px;
  }
  
  #name {
    padding-top: 10px;
    align-self: self-start;
    font-size: xx-large;
    font-family: "Poppins";
    color: white;
    font-style: italic;
  }
  
  #testimonal {
    text-align: justify;
    line-height: 2.5rem;
    transition: ease-in;
  }
  